<h1>You searched for: <div> <%=params[:q] %><div><h1>

    <ol>
      <% @results.each do |r|%>
        <li><img src="<%=r.user_image_url%>" height = "42", width = "42"/>
        <%= r.user%>:<div> <%=r.text%><div> Date & Time: <%=r.time_stamp%></li>
      <% end %>
    </ol>

